[2015-10-14 17:28] gmercey opened #1 "Bower package"
Hi,

Thanks for this awesome plugin.
Would it be possible for you to create a bower package for it please ?

Thanks

[2015-11-22 10:20] SpaceK33z commented on #1
Sorry, bower is dying so I don't want to support it. Just use npm.

[2015-11-22 10:20] #1 closed

[2016-01-28 17:08] mattgreenfield opened #4 "Request: Output value next to label"
Hi, thanks for making this great plugin.

Is there or could there be a simple way to output the value next to the legend?

For example, I have a pie chart and want to put the percentage value on the legend;
<img width="235" alt="screenshot 2016-01-28 17 07 39" src="https://cloud.githubusercontent.com/assets/7290654/12652214/ac495788-c5e1-11e5-8c5e-6c280e7de82e.png">

Thanks again,

[2016-01-29 10:04] TonyFrancis opened #5 "Labels not getting updated if new labels and data to chart"
I am working on reactjs this issue came up when updating label and data dynamical

[2016-01-29 13:22] TonyFrancis opened #6 "Labels not getting updated if new labels and data to chart"
I am working on reactjs this issue came up when updating label and data dynamical

[2016-01-29 17:37] monossido opened #7 "[isPossible] A legend field clicked at startup"
Is possibile to have a legend field deactivated at startup?
Thank you

[2016-01-30 16:54] #6 closed

[2016-01-30 16:59] SpaceK33z commented on #4
You can pass an option, `legendNames` to specify what you want in that.

E.g.

[code]

[2016-01-30 17:08] SpaceK33z commented on #7
This is not possible at the moment. How would you want this to work?

[2016-01-30 17:11] SpaceK33z commented on #5
Good point, there is no logic for this atm. It would be somewhat difficult to get this to work correctly, because we need to figure out what would happen if one of the series has been hidden.

[2016-02-03 16:58] arvinsingla opened #9 "Legend does not respect chart height in Firefox"
When the legend plugin is enabled and a height is explicitly set in the chartist options something strange happens. The chart expands outside the height boundary and cuts off. This is occurring only in Firefox and only when height is set. Tested on Firefox 42 and 44.

Expected results (Chrome, Safari, IE11)

<img width="1002" alt="screen shot 2016-02-03 at 11 46 49 am" src="https://cloud.githubuse

[2016-02-03 17:28] arvinsingla commented on #9
After some more testing turns out it is not related to the height property and is in fact always occurring in Firefox. It is just more noticeable when height is set.

[2016-02-05 08:42] mikaoelitiana opened #10 "Legend at bottom"
Is it possible to place legend box at bottom instead of top. More generally, that would be great to be able to set position in options (right, left, top, bottom)

[2016-02-07 14:01] SpaceK33z commented on #10
With CSS you can place it anywhere you want it to be. I could make it possible to provide a custom CSS class to the legend, so it's easier to change this.

[2016-02-07 14:05] mikaoelitiana commented on #10
Ok thanks

[2016-02-07 14:05] #10 closed

[2016-02-07 14:05] SpaceK33z commented on #9
The [demo](https://codeyellowbv.github.io/chartist-plugin-legend/) also has this bug.

[2016-02-07 14:55] arvinsingla commented on #9
Did some more digging and it turns out it's an issue with Firefox's SVG rendering which Chartist does account for. Firefox is unable to properly determine the height of the SVG element so Chartist in it's `height()` function has a fall back to set the height equal to it's container element.

The problem arises because the legend is being injecting that container which in turn alters the height. So

[2016-02-07 15:03] SpaceK33z commented on #9
Thanks for debugging this issue! Using a negative bottom margin is a nice workaround, but not a nice solution.
Maybe this plugin should also use SVG to insert the legend items? I'm not sure since it would be somewhat more difficult to style it exactly like you want.

[2016-02-18 14:41] karlos1337 opened #11 "On Pie charts, filtering values clicking legend fields not respect colors"
It happens even in the demo, if you click the first legend field the second field takes his name and color (and the third become the second ... etc) and legend colors dont change according that.

In others charts like bars dont happens, if you remove one color the other values remains theirs colors.

[2016-02-29 19:15] vishalbisa commented on #10
Hi @SpaceK33z ,

Can you please provide a custom CSS class to the legend,

[2016-03-09 10:06] ealves-pt opened #12 "NPM latest version differs from 0.2.1 tag"
I'm installing this using `npm i chartist-plugin-legend --save` and the version that is installed belongs to the tag `0.2.0` and not the `0.2.1`. But the weird thing is that the `package.json` says that the version installed is the `0.2.1`.

I've noticed that because the AMD is not working due to the missing `Chartist` argument in the factory function.

[2016-03-09 11:14] SpaceK33z commented on #12
I just released `0.2.2`, can you try again?

[2016-03-09 11:33] ealves-pt commented on #12
Perfect. Version `0.2.2`fixed my issue.

:+1:

[2016-03-09 11:33] #12 closed

[2016-03-14 08:17] SarasArya opened #13 "The example code uses older chartist-plugin-legend and not the new one"
The code of chartist-plugin-legend.js that was given in the demo application and that in the repository are different and the newer one doesn't work. At least with the sample index.html that you provide in the repository. I request to update the index.html in the repository with the latest fix.

[2016-03-14 08:43] SpaceK33z commented on #11
Good catch, you are right. Don't have time to fix this soon, a PR is welcome.

[2016-04-07 11:52] s3biiii opened #15 "use label click function for button"
Is it possible to use the click function of the label for a button ? Tried to hide / show the graph by implementing a toggle button but did not work for me.

[2016-04-18 06:19] madhairsilence opened #16 "Example given in Readme has Syntax error."
[code]

Should be

[code]

[2016-04-18 13:00] SpaceK33z commented on #16
PR?

[2016-04-18 15:44] #16 closed

[2016-04-18 15:45] SpaceK33z commented on #15
Are you talking about something like the functionality implemented in #14?

[2016-04-18 15:46] #4 closed

[2016-04-18 15:54] SpaceK33z commented on #13
Done.

[2016-04-18 15:54] #13 closed

[2016-04-18 20:36] mattgreenfield commented on #4
Ah, thanks @SpaceK33z , I never got around to trying this but will do.

[2016-04-19 11:10] paul-apacio opened #17 "When there are multiple charts on a page, only 1 legend gets rendered."
As in my subject.  I have multiple charts on my page, but the legend only gets rendered once for the whole page.

[2016-04-19 12:41] SpaceK33z commented on #17
https://codeyellowbv.github.io/chartist-plugin-legend/

In the demo this appears to be working...

[2016-04-19 12:48] paul-apacio commented on #17
I should clarify, when there is more than one of the same chart.

-Paul

[2016-05-30 12:52] hosseinip opened #18 "The plugin does not work correctly"
In the demo version, let say we click on the Piece A legend (red color) in pie chart. However, after clicking on the legend, the piece will not disappear in the chart. The same stays for other pieces as well in some occasions.

In fact, I found the bug and this is what exactly happens:
Let say we have 4 colors for pieces legend. The order of colors is: 1- blue 2- red 3- yellow 4- green. When we un

[2016-06-10 03:10] aualdrich commented on #17
@paul-apacio Did you ever find a workaround to this? I'm having the same issue.

[2016-06-10 03:15] t2 commented on #17
This seems like a big flaw. We have a dashboard of multiple Chartist charts and needs legends for each. Did you ever find a way to resolve this @paul-apacio?

[2016-06-10 07:26] SpaceK33z commented on #17
I'm working on a fix right now.

[2016-06-10 07:42] paul-apacio commented on #17
My resolution was to simply render the legends separate to the chart as plain html, as I was passing the data in at render time, so it was available to me.

[2016-06-10 07:58] SpaceK33z commented on #17
@aualdrich, @t2, can you share an example of when this is happening? I added a test (61ed13e33d1a4e1a8e5d559ac358431a6896961d) to try to reproduce it, but it appears to work...

[2016-06-10 08:10] SpaceK33z commented on #18
Duplicate of #11.

[2016-06-10 08:10] #18 closed

[2016-06-10 09:18] SpaceK33z commented on #11
It should be fixed now. There still is one big bug with the labels in a pie that I didn't manage to fix yet; if you use labels and click a few times on the legend, the labels will be displayed incorrectly.

A workaround for this is to pass the labels to `legendNames`, then it should work fine.

[2016-06-10 09:37] #11 closed

[2016-06-10 09:39] SpaceK33z commented on #11
Okay the bug I mentioned above should also be fixed now. Published version `0.3.1`.

[2016-06-13 21:20] SpaceK33z commented on #7
Closing because of inactivity, but feel free to add some examples and I'll look into it.

[2016-06-13 21:20] #7 closed

[2016-06-19 19:51] SpaceK33z commented on #15
Closing due to inactivity, but feel free to comment.

[2016-06-19 19:51] #15 closed

[2016-06-19 20:02] SpaceK33z commented on #9
Interesting, after upgrading to chartist 0.9.7 it seems to be fixed. It probably was this issue: gionkunz/chartist-js/issues/592

[2016-06-19 20:02] #9 closed

[2016-07-11 11:07] michalchovanak commented on #17
Hi, i am having the same issue. I have 3 charts in a slick.js slider and only one renders the legend.

[2016-07-14 09:24] SpaceK33z commented on #17
Can you provide a minimal reproducable scenario?

[2016-07-16 14:24] Zaid-Mirza opened #20 "how to install plugin in visual studio for chartist"
Scenario is,

Im making an AngularJS application using Visual Studio 2013.My chartist pie chart is working. I need to add legends. I have added .ct-legend class to my css. My problem is how i can install legend plugin there?

[2016-07-19 21:42] preetcam opened #21 "chartist-plugin-legend compatibility with new version of chartist"
I updated my project with new version of chartist 0.9.8, but seems like legends plugin is not compatibility with this version.

If I use old version of legend plugin, I get two graphs per widget.
But new version of legends plugin is not compatible. I am getting error saying chartist-plugin-legend is not a function and $ is not defined.

[2016-07-20 08:10] Kinetic-Pulse opened #22 "Placing legend in custom location"
Hey There,
Awesome plugin and thank you for making this available.

I saw a previous closed issue about moving the legend using custom css.
Probably a noob question but how would I with css place the legend below the chart?

Thanks again.

[2016-07-22 09:28] Lekensteyn commented on #20
What have you tried? What steps from the README did not work for you?

[2016-07-24 14:14] Zaid-Mirza commented on #20
@Lekensteyn yeah I done it, Actually problem was that VS dont have compiler for sass convertor.. Now Ihave  successfully converted sass to css and include your css to my base then I built legends in Html.Thanks

[2016-07-24 14:19] #20 closed

[2016-07-27 23:48] ajdust commented on #21
I am on 0.9.8 with no problems. Perhaps a specific use stopped working?

$ sounds like a jQuery selector - both chartist and this plugin don't have any dependencies on jQuery or otherwise and shouldn't be using $.

[2016-07-28 00:52] ajdust commented on #22
I don't know about CSS - there probably is some fancy way to switch element positions. But it may be simpler and more maintainable to do it in JavaScript.

Currently the plugin appends to the chart container before the chart itself is drawn, so the legend is above the chart. I see two options..
- Switch the positions after the fact at some point. Something like `$('.ct-legend').insertAfter($('.ct-

[2016-08-01 23:04] preetcam commented on #21
As soon as I update my chartist version to 0.9.8, My graphs starts splitting.
I observed the legend plugin version is not compatible. If I remove Legends, the code works fine.
But I need to use display legends too in my graph.

I tried updating legend version too. it dint help.
<img width="954" alt="screen shot 2016-08-01 at 4 01 08 pm" src="https://cloud.githubusercontent.com/assets/4131188/17311

[2016-08-02 08:44] SpaceK33z commented on #21
[The demo](https://codeyellowbv.github.io/chartist-plugin-legend/) also uses 0.9.8 now, and I don't see any problems. Can you upload a minimal example to jsfiddle / codepen? I'll take a look then.

[2016-08-03 22:43] preetcam commented on #21
Can you help me how can I use the legends plugin to support for Angular Application.

I see the code in latest Legend Plugin :
module.exports = factory(require('chartist'), require('jquery'));

As my project is in Angular, its not supporting jquery.
When ever I run legend plugin, I get error saying $ is not defined.

[2016-08-04 04:13] preetcam commented on #21
Just an update, my issue got resolved.
Resolution : I downloaded the jquery earlier but this time I included/added  jquery file in plugins folder. By this the jQuery tags are no issue :)
Thanks for your help.

[2016-08-04 09:11] #21 closed

[2016-09-02 06:36] tarekis commented on #22
Adding a option for side positioning would be quite sweet IMHO, until now i personally solved this with a CSS hack:

[code]

[2016-09-02 09:16] SpaceK33z commented on #22
A PR is welcome, I don't have time to fix this myself atm.

[2016-09-02 11:14] tarekis commented on #22
Gonna make a PR soon in this case.

[2016-09-05 14:54] #22 closed

[2016-09-08 06:10] tarekis opened #26 "[version-control] npm semver 0.5.0"
I've just noticed the [npm package](https://www.npmjs.com/package/chartist-plugin-legend) has still the `0.5.0` version.
Is there a specific reason it differs from the github-repository's version, or was it just a honest mistake not updating npm too?

Cheers!

[2016-09-08 08:43] SpaceK33z commented on #26
It was a mistake. Fixed it :).

[2016-09-08 08:43] #26 closed

[2016-09-19 20:50] favasconcelos opened #27 "License"
Can you please add a **license** to your code?  ##

[2016-09-19 21:03] SpaceK33z commented on #27
Done. 93325dba939b46f3b8639af7f83966ee6854e64c

[2016-09-19 21:03] #27 closed

[2016-09-26 16:00] monossido commented on #17
up?!
I'm using angular-chartist and I have not understand the workaround

[2016-09-26 16:04] SpaceK33z commented on #17
As long as no-one provides a reproducable scenario, I can't fix this.... a PR is also welcome.

[2016-09-27 10:36] paul-apacio commented on #17
A reproducible scenario would simply be to attempt to create 3 bar charts, with legends on the same page, but using similar data.

When I had this problem back in April, only the first chart's legend would get rendered.

I worked around this by rendering the legend using plain HTML outside of chartist, but that negates the point of the plugin.

[2016-09-27 11:23] SpaceK33z commented on #17
But looking at [the demo](https://codeyellowbv.github.io/chartist-plugin-legend/), this appears to work. Even if I change the `Line` charts there to `Bar` charts, it still works. Can you provide a demo (with JSBin or whatever)?

[2016-09-27 11:24] SpaceK33z commented on #5
A PR is welcome if anyone wants to take a stab at this. I don't have time for it myself currently.

[2016-09-27 12:48] paul-apacio commented on #17
Then it would appear the issue must be fixed.

[2016-09-27 13:55] SpaceK33z commented on #17
I'll close this issue for now then. **If anyone still has this issue, please provide a working demo and I'll re-open this.**

[2016-09-27 13:55] #17 closed

[2016-10-10 10:26] monossido commented on #17
This bug comes with a different version of the library, if you install the plugin with bower it will download this forked version https://github.com/Pinacono/chartist-plugin-legend
Installing it with npm solved the issue.

[2016-10-10 11:31] ghost opened #28 "Legend placement goes haywire when any of the aspect ratio classes are used"
I am using the "ct-major-second" class for making my chart responsive and auto resizing the bars and stuff.... but any of these classes set the css "top" property to "0" hence making the legend overlap. This can be fixed using custom css, but it isnt recommended as it wont keep the chart and the legend dynamic (i have many pages that use these charts, few having 2 bars, few 5, few 10, etc etc) and

[2016-11-01 23:25] devzing commented on #28
Affecting me as well. Using ct-major-tenth

[2016-11-07 13:04] tarekis commented on #28
Well, chartist-plugin-legend places the `ul` element inside of the chart container, either before or after the `svg` chart, [depending on your options](https://github.com/CodeYellowBV/chartist-plugin-legend/blob/master/chartist-plugin-legend.js#L110).

If you want the `ul` to be placed, this has to be done with JS, probably the best approach ist to fork and implement a position option for flexibil

[2016-11-07 13:40] SpaceK33z commented on #28
We could also allow the `position` option to take a DOM element. If a DOM element is given it attaches to that element instead of inside the chart. A PR is welcome for this, don't have the time myself atm.

[2016-11-07 13:43] tarekis commented on #28
That sounds sweet too, might look into it sometime soon.

[2016-11-07 15:51] PuneethReddyV opened #29 "TypeError: Chartist.plugins.legend is not a function"
I'm using meteor build tool and chartist plugins to represent my data.
I have java script for legend template got from internet as follows

Template.js
--------------

[code]

HTML
------
[code]

And a corresponding import statement as
`import {legend} from 'chartist-plugin-legend';`

I have used similar import statements which are working as expected.

[code]

There is a similar error for tooltip

[2016-11-07 16:06] SpaceK33z commented on #29
Does `import legend from 'chartist-plugin-legend';` work? If not, could you try `import * as legend from 'chartist-plugin-legend';`?

[2016-11-08 05:36] PuneethReddyV commented on #29
I have tried both the options, none of the is working. This is a similar issue to [#21](https://github.com/CodeYellowBV/chartist-plugin-legend/issues/21). Not sure how to make a import statement for `legend` on the package.

[2016-11-08 07:24] tarekis commented on #29
Correct me if i'm wrong but isn't that ES6 `export/import` syntax? And i haven't seen any ES6 export statements in the plugin.. just a thought on this.

[2016-11-08 07:59] PuneethReddyV commented on #29
That import statement is from [meteor ](https://guide.meteor.com/structure.html#importing-from-packages). Which is very similar to ES6. As mentioned above this import statement is not working only for two plugins(legend, tooltips) where as it works for others(threshold, barlabels, pointlabels).

[2016-11-08 09:35] SpaceK33z commented on #29
Meteor probably uses CommonJS with compatibility for ES6 modules. In this case, the plugin returns `Chartist` as you can see here: https://github.com/CodeYellowBV/chartist-plugin-legend/blob/master/chartist-plugin-legend.js#L11.

This is a bit weird. We could change this to return the plugin instead. That would be a breaking change btw. A PR is welcome for this.

[2016-11-08 09:53] PuneethReddyV commented on #29
Thank you for that effort. Would it be possible for you to give a file which have fixes. So that I can wrap it my project?

[2016-11-08 13:15] tarekis commented on #29
The returning of chartist might in fact be the source of this error.

According to OP, this occurs for `chartist-plugin-legend` and `chartist-plugin-tooltips`, whereas `chartist-plugin-barlabels`, `chartist-plugin-pointlabels` and `chartist-plugin-threshold` do not throw any Errors.

While `chartist-plugin-legend` and `chartist-plugin-threshold` return `Chartist`, the other ones do not, as you can

[2016-11-08 13:22] tarekis commented on #28
gh-pages implementation coming soon too, just messed something up, gonna fix that if that PR makes it.

[2016-11-08 14:56] PuneethReddyV commented on #29
Can you provide me a piece of advice to overcome this issue?

[2016-11-09 07:26] tarekis commented on #29
@PuneethReddyV I never really worked with meteor, so i can't really reconstruct or test anything right now. AFAIK all you can try is to refactor the plugin's structure to the structure the working ones use.

[2016-11-09 08:09] PuneethReddyV commented on #29
@tarekis Is there a alternative plugin(s) which can be achieve similar functionalities?

[2016-11-09 08:17] tarekis commented on #29
I am a developer not a plugin registry 😛

[2016-11-14 11:44] tarekis commented on #28
Works as of `0.6.0`. You can now enter any `HTMLElement` into the position option.

[2016-12-05 15:36] carolgomesm opened #32 "Legend Colors"
The color of the legends are not being rendered. I can't use SASS on my project. Is there a way to show to correct colors without SASS?

[2016-12-05 15:41] SpaceK33z commented on #32
Yes, a way to do this is go to http://www.sassmeister.com/, then copy paste [this line](https://github.com/gionkunz/chartist-js/blob/develop/src/styles/settings/_chartist-settings.scss#L71) and then copy paste the Sass from this README under it. SassMeister should give you the CSS output.

[2016-12-05 15:45] carolgomesm commented on #32
Thanks!

[2016-12-05 16:01] #32 closed

[2016-12-26 16:39] sambengtson opened #33 "Multiple charts, only one legend"
I'm experiencing an issue that was reported on the [Gitlab Repo](https://gitlab.com/CodeYellowBV/chartist-plugin-legend/issues/17)

If I have multiple charts with legends on a single page using id's to select them, it seems that the last chart is the only one that gets a legend generated.  It does not seem to matter what type of chart I use.  I can give a reproducible example if necessary.

![capt

[2016-12-27 11:08] SpaceK33z commented on #33
Yes, I'd like a reproducible example. On the [example page](https://codeyellowbv.github.io/chartist-plugin-legend/) you can see that this works. However, do note that I don't use this package myself much anymore, so please consider sending a PR with the fix (and a test).

PS: the GitLab repo was for demoing purposes, you can also find that issue here: https://github.com/CodeYellowBV/chartist-plugi

[2016-12-27 14:40] sambengtson commented on #33
Seems that I was using a pretty old version of the lib from a bower install.  Everything appears to be good now.

I'll keep my eye open for other issues and will submit PRs as necessary.  I plan on using this for the foreseeable future.  Thanks!

[2016-12-27 14:40] #33 closed

[2017-01-23 17:29] johnomorales opened #35 "Lack Examples"
It's better to isolate your examples on a separate html page per capability.

[2017-01-23 17:46] SpaceK33z commented on #35
Why? The example page has code samples that you can copy/paste. If you really want to, please make a PR.

[2017-01-24 11:47] jhnmrls commented on #35
That is true, but it's just a code snippet, I had to do a lot of research (checking prev. issues), to get what I wanted. (Percentage + LegendName to be exact).

+ the CSS snippet you posted, doesn't work on my page. It would be easy to check if there's a working example page in isolation.

[2017-01-24 11:47] #35 closed

[2017-01-24 14:40] johnomorales opened #36 "Plugin specific events?"
Hi,

Is there an available event, outside of chartist and specific for chartist-plugin-legend?

eq.

onComplete event to avoid some race conditions?

[2017-01-24 14:53] SpaceK33z commented on #36
nope, not that I know of. Can you explain a use-case?

[2017-02-23 13:07] nosheen-javed opened #37 "Assign color of the legend dynamically in js or css?"
Hi,
How can I assign the color of the legend according to the color of the pie chart series? Right now its defined in CSS and hard coded, but what if the number of values increases then how I will know at which level i have to define the background-color in CSS?

I have searched it a lot, I have not even found the solution on any link.

Thanks.
Regards,
Nosheen Javed.

[2017-02-28 12:24] tarekis commented on #37
Data series are colored by CSS in Chartist. I am pretty sure there is no clean way to read those values in JS.
That means, your issue would be best solved by using custom CSS that applies to both series and corresponding legends. You'd probably end up implementing something like this.

http://codepen.io/chimmer/pen/aJvBgv

[2017-03-09 07:06] surendarviki opened #38 "Legend Grouping"
Is there a possibility to group the legends? Instead of having 1 legend for 1 line can v have 1 legend for multiple lines?

[2017-03-13 10:00] tarekis commented on #38
No, this is not implemented. What is your use case?

[2017-03-13 11:59] surendarviki commented on #38
i need to show expectation and actual as two line chart for multiple users, If i have one legend for each user it will be helpful instead of having 2 legend for each user.

[2017-03-13 15:01] tarekis commented on #38
If you have a strict alternation in your datasets you can do that with custom functions, which let one legend act for two datasets and CSS.
If not, I do not see a solution, nor a proposable API for this kind of grouping.

[2017-04-07 09:29] Jeketerri commented on #37
Mi 2 cents to this topic:

you pass the ID of the div section(where the graph goes painted), the chart object(put a return on the graph paint function) and an array of colors( in hex and as string '#000000').
[code]

[2017-04-07 10:52] Jeketerri opened #39 "Worng data to final chart"
I have a problem, maybe is caused by a bad building:

                console.log('arr_data ' + arr_data);
                obj = { "name": tara_fin[i], "data": arr_data };
                arr_series.push(obj);

I get this data output:

[code]

But in the graph I only get all the bars with the last array information, the labels are okey, w/o the box color border, but it works.
Sorry with my very ba

[2017-04-09 15:03] SpaceK33z commented on #39
I don't understand... Please provide a [CodePen](http://codepen.io/) where you reproduce your issue.

[2017-04-10 15:10] Jeketerri commented on #39
Hi, sorry for the lateness, I'm registered now on the codepen, but I don't know why it doesn't work with my script, sorry I learn to code this year, [this is the code](https://codepen.io/Jeketerri/pen/YZmjrQ), Well I simplified the code, because I recover the data from an AJAX call.

[2017-04-18 06:28] doctormo opened #40 "Using signals and classes"
I've made a new fork of chartist-plugin-legend, you can see it in the forks list. It probably shouldn't be merged in as it's a) guts the project code like a fish and b) has a new license.

But I bring it up because the idea of using chartist signals to add and keep legends up to date is worth considering. It's much cleaner to have chartist tell me when a series is being drawn than try and tie lots

[2017-04-18 07:45] Jeketerri commented on #39
Well, I found the problem in the codepen, it was on the CDN of your plugin, you can see now how my graph apear, it only get the last data I pass, I don't know if a problem of your plugin or is in my building... sorry for my bad English :(

[2017-04-18 19:04] guimeira commented on #38
I have a similar use case. We had to plot two different prices for the same product, one of them as a solid line and the other as a dashed line of the same color. In that case, it makes sense to have a single legend item representing both series.

I [forked](https://github.com/guimeira/chartist-plugin-legend) the project and [implemented](https://github.com/guimeira/chartist-plugin-legend/commit/3

[2017-04-23 21:40] SpaceK33z commented on #38
@guimeira, wow, that looks nice. Yeah, the API is fine I think. I would really appreciate a PR :). Note that you'll need to add one or more tests, since the code is a bit too tricky to go untested.

I'm fairly busy these days so it can take some days for me to review.

[2017-04-23 21:43] SpaceK33z commented on #40
Hey, this is an interesting idea. It would also fix #5, which is a nice bonus. Would you mind preparing a PR? Perhaps with an added test that checks if legends are not duplicated (not sure if this is necessary)?

[2017-04-26 14:09] guimeira commented on #38
I'm glad you like it! I'll be happy to write a few tests and send a pull request soon :)

[2017-04-28 19:31] GabrielSiq opened #41 "Legends don't render"
Hi,

first of all, thanks for your work with this plugin.

This issue isn't a problem with the plugin but rather with my lack of experience using it.

I didn't install the plugin via `npm`. Rather, I just copied the `.js` file to my `static` directory (it's a Flask app) and imported in my view.
[code]
where dashboard-update contains the functions that request new data and update my line charts.

I

[2017-05-03 19:17] doctormo commented on #40
Not sure if I can make a merge request, it's such a large change. I'll post it, but feel free to shoot it down.

[2017-05-04 17:47] GabrielSiq commented on #41
Update: The issue seems to be with `Chartist`, that doesn't render the plugins on `.update()` and not with `chartist-plugin-legend`.

[2017-05-04 17:47] #41 closed

[2017-05-04 18:51] SpaceK33z commented on #41
Hi, this plugin doesn't work with `.update()` yet. There is a PR open that fixes this, #40. It would be nice if you could test that PR and report your findings there, that would speed up the process!

[2017-05-04 18:55] SpaceK33z commented on #39
I'm sorry but I don't have time for this. I would recommend asking this on [StackOverflow](https://stackoverflow.com/).

[2017-05-04 18:55] #39 closed

[2017-05-04 19:09] #40 closed

[2017-05-22 01:09] GabrielSiq commented on #33
I had a similar problem, also due to the version installed through bower being old.

[2017-06-07 14:54] amichair commented on #5
+1

[2017-06-07 14:55] amichair commented on #40
+1

[2017-09-05 07:49] jokohoko opened #46 "Not able to add data whilst series are hidden from the legend"
When hiding a series in the chart using the legend buttons i think what happens is that the array of data gets copied and the selected series gets removed?
In my application i constantly add new data to the chart and thus when hiding a series that series is no longer available in the data array to add new data to.

Im am not sure how to solve it so i will just leave the buttons feature out for now

[2017-09-07 13:58] aendu commented on #40
so what is the status here?
As far as i see it, update does still not work. But i might have done something wrong?
Thx for an update.

[2017-09-07 14:17] doctormo commented on #40
@aendu - Forked with regret: https://github.com/doctormo/chartist-plugin-legendary

[2017-09-13 07:41] tarekis commented on #46
That's indeed what happens, to be honest, I never understood why it's implemented like this. The event handler is [here](https://github.com/CodeYellowBV/chartist-plugin-legend/blob/5f3cadb27934acf315f7d5123c1cd75bd58047e2/chartist-plugin-legend.js#L145), you can see what happens in the code. I guess if you want that changed you could propose a PR to fix it.

[2017-09-13 08:15] SpaceK33z commented on #46
@tarekis, great to see you're still around here. Do you have any interest in maintaining this repo? You've done a good job helping people and contributing 👍 . I don't use this package anymore (for new projects) because I've since switched to React and React-compatible chart libraries. If you have the interest, please also give your npm username.

[2017-09-13 09:29] tarekis commented on #46
Hi @SpaceK33z, yeah I fly around here from time to time.
TBH, I didn't use the library in months either, I just suppose because I know the library I looked for issues I could help with.
I work with Angular 2 and React.js now too, and also never again had the need for a chart library. Ironically, React.js support [has been requested](https://github.com/CodeYellowBV/chartist-plugin-legend/issues/5)

[2017-09-14 09:06] tarekis commented on #28
I'm closing this as this should be resolved as of `0.6.0`. If this issue remains, feel free to reopen it.

[2017-09-14 09:06] #28 closed

[2017-10-24 09:14] chelaruc opened #47 "Internet Explorer has stopped working"
The charts are working fine in Chrome, but we got issues on IE. For example when the IE browser is not maximized, and then we maximize it, we got following error ( see screenshot below)

![erroe](https://user-images.githubusercontent.com/22840626/31934423-bee1e578-b8b4-11e7-8afa-ef09fb4baae8.png)

Could you please let me know how this can be fixed?

Best,
Ciprian

[2017-11-08 14:46] tarekis commented on #47
Hello Ciprian,

sadly this information does not help me too much investigating the problem's source. Please provide me with the exact version number of your OS, IE, Chartist and the plugin, and most important any JavaScript logs you get with this error.

[2017-11-20 11:58] LittleHendrix commented on #36
Hi there,
First of all, great plugin! I've got a question regarding the `options.onClick` if you could help? I can see the function is passing in 2 parameters - chart, and event. Is there a way to identify which item has been clicked on? So I can output a message. For example, "hide/toggle dataset alpha". Thanks!
Regards,

[2017-11-22 10:06] tarekis commented on #47
@chelaruc I am trying to close abandoned issues, if this issue is still relevant, please provide some more information so I can investigate it.

[2017-11-22 10:10] tarekis commented on #36
@LittleHendrix That sounds like a question for stackoverflow. Please ask there and if you can absolutely get no help, open a **new** issue. I will delete both your and my comment in a few days.

[2017-11-22 10:13] tarekis commented on #36
@johnomorales I am trying to close abandoned issues, if this issue is still relevant, please add suggestions you'd like and add at least one use-case for them so I can see if it's a valid case the plugin should handle.

[2017-11-22 10:35] tarekis commented on #46
@jokohoko Are you intending on writing a PR for this use-case and is this still relevant?

[2017-11-22 10:35] tarekis commented on #29
Will investigate and test shortly.

[2017-11-22 10:44] tarekis commented on #5
Connected with https://github.com/CodeYellowBV/chartist-plugin-legend/pull/42, will investigate and fix if effort is justifiable on my schedule.

[2017-11-22 11:24] jokohoko commented on #46
I'm sorry, i was not able to improve this workflow and went for an alternative method whereby i have 2 graphs and just switch beween them. So i no longer use the legend filtering option.

[2017-11-22 11:45] tarekis commented on #46
@jokohoko Thanks, in this case, I will address this issue somewhen in the future.

[2017-11-22 12:02] tarekis commented on #37
I think styling is not the concern of the plugin itself, hence closing this.

[2017-11-22 12:02] #37 closed

[2017-11-22 12:28] chelaruc commented on #47
Hi, @tarekis! I'm sorry I didn't saw your answer until now. I will do a demo project for testing.

[2017-11-22 13:47] chelaruc commented on #47
@tarekis it's working now...

[2017-11-22 13:47] #47 closed

[2017-11-24 16:33] pdonias opened #48 "Hiding a line is not persistent with data changes"
I have 2 data sets:
[code]
*Note: the 2 data sets contain the same values but are not the same object.*

I inject one of them in a `Chartist` which draws this chart:
![capture_2017-11-24_17 16 41](https://user-images.githubusercontent.com/10992860/33218103-58e36aea-d13b-11e7-8aed-553f7f9af721.png)
Then I hide the blue line by unchecking the box:
![capture_2017-11-24_17 16 51](https://user-images.g

[2017-11-24 16:47] tarekis commented on #47
Thanks for letting me now, if this occurs again, please reopen the issue and attatch a detailed reproduxtion scenario.

[2017-11-24 16:50] tarekis commented on #48
I'm afraid I can't follow, what is the expected result? I'm not sure what exactly you are doing and am not sure if this is intended or not, since i assume you are switching references or something.. Please elaborate and include your code so i can investigate.

[2017-11-27 08:52] pdonias commented on #48
Hi! I'll try to be clearer.
The expected result was for the blue line to stay hidden when switching data set. As you can see on the last screenshot, the blue checkbox is unchecked while the blue line is showing. I don't think this should happen.

Here's my code for the 2 line example:
<details>
<summary>Code</summary>

[code]
</details>
<br />
And here's a more concrete example to help you underst

[2017-11-27 11:13] tarekis commented on #48
All clear now, I agree with you, that should not happen.
Without rigorously checking the code, I assume the issue is the object references the legends uses to determine display gets lost as you use a new object. I'll investigate if this should be implemented different (or can be), or the library should check this, regarding the hopefully soon-to-come change in which it should support dynamic chang

[2017-12-03 20:35] FelisPhasma opened #50 "Site doesn't work on firefox"
[Screenshot](https://gyazo.com/4f2f84158abe9db08fc36ee6bfce8ec3)

Debug information:
[code]

Browser
`Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:57.0) Gecko/20100101 Firefox/57.0`

[2017-12-04 09:03] tarekis commented on #50
Oh, well that is an error in the GitHub pages demo, not the plugin itself. I'll fix it when I have some time...

[2017-12-05 04:55] FelisPhasma commented on #50
@tarekis Yeah, it's no biggy. I just launched it in another browser and it was all good. If I get a chance I'll take a look at the code too and save you the trouble!

[2017-12-15 11:17] tarekis commented on #50
Fixed by https://github.com/CodeYellowBV/chartist-plugin-legend/pull/51.

[2017-12-15 11:17] #50 closed

[2018-01-16 20:04] sanmai-NL commented on #29
@tarekis, what’s the status?

[2018-01-16 20:11] sanmai-NL opened #53 "Fix ESLint errors"
[code]

[2018-01-17 12:48] tarekis commented on #53
What linting config did you use? If I recall correctly, we never had one.

[2018-01-17 12:49] tarekis commented on #29
@sanmai-NL I started looking into this, but I basically have no time on my hands because of work and other stuff I have to do really and this is probably gonna be a complete rewrite. Might be able to squeeze some time out for this this weekend.

[2018-01-24 01:57] MansiSaini commented on #29
A bit late to the party but if you import it using ES6 format:```import legend from 'chartist-plugin-legend```, then in ```chartist options object``` you can say:```plugins: [ legend() ]``` and that worked for me!

[2018-02-21 23:54] josiahkeller opened #54 "Breaks Chartist's labelInterpolationFnc() option"
The plugin is overriding/ignoring the `labelInterpolationFnc()` option under `axisX` & `axisY`.

Here's an example of the option that works when the `chartist-plugin-legend` plugin is **not** included:
[code]

[2018-02-22 19:28] amichair commented on #38
This can be closed, no?

[2018-02-22 23:59] josiahkeller commented on #54
It looks like this was actually an error on my part. I was including the plugin *after* the options, instead of as part of the options. Whoops!

[2018-02-22 23:59] #54 closed

[2018-02-23 04:36] surendarviki commented on #38
Happy this feature is now available. Thank you ppl.

[2018-02-23 04:36] #38 closed

[2018-02-23 11:42] tarekis commented on #38
Ugh well, yeah that is actually available on master, but not on npm yet. I wanted to update the repo with a `.npmignore` file and release it properly.. if you need this right now please use the commit sha as version, but I will check if can release this today.

[2018-02-23 12:41] SpaceK33z commented on #38
This is not necessary, in the package.json there already is a `files` property which is a whitelist of files to be uploaded to npm instead of a blacklist.

[2018-06-12 17:27] thomas-oo opened #56 "Hide legend key for emptyValues if ignoreEmptyValues is true?"
In the chart options, I set ignoreEmptyValues, which disables drawing labels and slices for unnecessary elements. I was wondering if this option could be passed into this plugin to disable showing the legend key for this element?

<img width="307" alt="screen shot 2018-06-12 at 1 26 41 pm" src="https://user-images.githubusercontent.com/14128611/41306471-4111f80e-6e44-11e8-8f3d-df8e04805135.png">

[2018-09-01 19:43] MauroJurada opened #57 "chart and legend colors don't match after clicking on label"
Sorry if this is stupid, I'm new to this.

My issue is that after clicking on a label in legend to hide that entry from the chart the graph colors all update while the colors on legend don't.
![image](https://user-images.githubusercontent.com/37582356/44949355-f90ee900-ae2f-11e8-9acc-36ffa331bb2f.png)
after click:
![image](https://user-images.githubusercontent.com/37582356/44949359-075d0500-ae30-1

[2018-09-03 15:50] tarekis commented on #57
That is pretty much just a CSS issue, you can't use the n-th child selector like I did in my pen you linked, but use selectors for the actual series' class names e.g. `.ct-series-b`. I simply copied your CSS and added line styles, you should be able to figure what's happening by that i hope: https://codepen.io/chimmer/pen/QVvMgz.

[2018-09-03 15:50] #57 closed

[2018-10-01 15:47] savef commented on #5
Is there a workaround for this at all? I'm creating the chart with 2 series of data and calling `#update` later with 3 series and the graph updates but the legend doesn't. Even if I destroy the legend container element it will be re-created with just the 2 series' names.

[2019-04-30 02:33] raevillena opened #59 "Not an Issue(Misleading): Styling"
This is not an issue but I just wanna leave it here for beginner like me.

The CSS in the description log is actually not a css3 but in SCSS syntax. Adding it directly to your react project or others maybe will not work.

What I did: Converted it to CSS3 to my needs
here is a example of it

                .ct-legend {
			position: relative;
			text-align: center; //position of the group, use eith

[2019-05-02 09:31] badrAZ opened #60 "Variable series revert to their old values on hiding a line"
Hi!

I've got an issue with the plugin. The series revert to their old values on hiding a line. Please see the example bellow.

[code]

[2019-05-15 08:44] dooke opened #61 "Plugin output js"
Hi,

I have a problem using this plugin when i simply add the plugin output this code:

`<li class="ct-series-0 inactive" data-legend="0">function () {                                                                          // 892
                                                                                                                       // 893
// If the string looks like an identifier,

[2019-06-03 07:11] imadx opened #62 "Select/Deselect legend items through options"
I need to select/deselect legend items through options to have some legend items deselected when the chart is loaded.

[2019-07-31 15:48] fcolecumberri opened #63 "This plugin is not compatible in charts with aspectRatio"
I have just found out (after several hours of debugging) that when aspectRatio is set in the chartist options, the svg style gets set to
[code]
which makes the svg overlaps with the legend

[2019-09-14 02:53] FryerTuck opened #64 "this plugin does not render inside the SVG chart"
.. face-desk

[2019-09-14 12:26] kompier opened #65 "Legends with axis offset"
If I add a a axis offset, the legends did not apear.
This code shows the legends:

var chart = new Chartist.Bar('#chart12', {
labels: ['Combinados','Bebidas','Entradas','Diversos','Rolls/teppan','Sushi/sashimi','Outros'],
series: [
{"name": "Fechamento", "data": [41, 19, 14, 7, 6, 12, 0]},
{"name": "Últimos 30", "data": [30, 23, 17, 9, 8, 8, 4]},
	]
}, {
  seriesBarDistance: 10,
  reverseData: tru

[2019-10-08 02:57] msj121 commented on #48
What happens after looking at the code is quite straightforward. Legend is called at initialization of plugin. Clicking a series element will remove it from the chart data entirely. So updating the chart data will override whatever the plugin has done until now.

Worse, after clicking on the legend you will get old data instead of new data because at initialization it took the data.

Even worse, t

[2019-10-31 09:30] cjblomqvist opened #66 "Add left and right as positions"
Would be nice to be able to position the legend on either side of the chart in addition to the current top/bottom options.

[2019-11-22 17:41] thargy commented on #5
Such a shame, this makes it unusable with dynamic labels, multiple series, etc.

[2020-02-25 17:37] rdg10 opened #67 "Dynamically Changing Legend Color"
I have different charts on the same page.  Depending on what the user is graphing I might change the colors to some hard coded values.  That works for the data but the legend doesn't change to match the data color.  Is there a way to refresh the legend so it changes the colors to match the data or a way to change the legend color directly?

[2020-03-11 06:33] sreenumalae opened #68 "Cannot assign the color to the legend"
Hello guys,
I'm trying to plot a pie chart where i have N number rows of data.
When i plot that half of my pie chart looks black that's one of the issue and my main issue is im not able to assign colors for those N legends
Here u can see my pie chart along with legends
In legends it has color for first four. where for those for i manually assigned the color

![Capture](https://user-images.githubus

[2020-03-21 06:03] sasori7 opened #69 "Can't figure out where to plug this when using moment to generate chart"
This example breaks the chart.  Also tried to put it at the end, same result.
_ var lineArea4 = new Chartist.Line('#PROGmath', { series: [{   name: '1-10 in Order',
       data: [    {x: new Date(1547222400000), y: 1},    {x: new Date(1552492800000), y: 10},    {x: new Date(1554998400000), y: 25},    {x: new Date(1555293180000), y: 100}   ]  },  {   name: 'Point out 0-10',
       data: [    {x: ne

[2020-03-26 05:23] sasori7 commented on #69
Swing and a miss, I suppose.  Sorry, but I don't know where I can ask such a question.

[2020-05-13 15:16] benmcm1994 commented on #41
Any updates on this? Need to update the legend dynamically. Can I just delete the chart and make another instead of updating?

[2020-05-13 15:18] benmcm1994 commented on #5
Any work arounds or is this not possible?

[2020-06-16 04:16] jprofit commented on #5
Is there any update to this issue?

[2020-08-14 23:18] annie-l commented on #59
thank you @raevillena! converted your comments for easier cut and paste right into css:

[code]

[2020-11-03 05:36] bd8036 opened #73 "How to change Text Color?"
Hello.
I making line chart with chartist.
and I use chartist-plugin-legend to explain data name
But, when i make a line chart, text color is white , and when i drag, it appear..
How to get black color.. ?
I know default color is black but Why it has white color .. I don't understand.
Do you know how to fix it?
![image](https://user-images.githubusercontent.com/14067826/97952801-ed3d5980-1de1-11eb-

[2021-06-04 09:43] flefloch-payps commented on #48
Hello,
are there any news on this problem (other than the workaround provided by @msj121 ) ?
It seems this project is quite abandoned (no updates since a while).
Is someone aware of a fork which could be used instead of this project?

[2022-01-06 13:24] Martin12350 commented on #48
If somebody still got issue like me, when you cannot have legend while updating data, here is my solution. 4 years later woow.

In CSS add class:
`.ct-hidden { visibility: hidden; }`

In JS remove all references to originalSeries and seriesCopy (line 97, 183, 192, 202).
No needed. Definitely could be cleaned much more, but did not want to dig too deep.

Edited/added lines 155, 161, 171, 175.
[code